<!doctype html>
<html lang="ru">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}Привет всем!{% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href={{ asset('css/bootstrap.min.css') }}>
    {% block stylesheets %}{% endblock %}

</head>
<body>
{% block body %}
<h1>Привет всем...</h1>
{% endblock %}

<!-- Optional JavaScript -->
{% block javascripts %}{% endblock %}

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src={{ asset('js/jquery-3.3.1.min.js') }}></script>
<script src={{ asset('js/popper.min.js') }}></script>
<script src={{ asset('js/bootstrap.min.js') }}></script>
</body>
</html>
